<form action="/members/addMember" method="post">
    Name: <input type="text" name="name" required><br>
    Email: <input type="text" name="email" required><br>
    City: <input type="text" name="city" required><br>
    <input type="submit" value="submit"><input type="button" onclick="location.href='/subscriptions'" value="Cancel">
</form>
